/* Header Section */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 2vmax 5vmax;
    z-index: 999;
}

.header-logo {
    position: relative;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.header-logo span {
    color: rgb(248, 103, 103);
}

header li {
    color: #fff;
}

/* Header Section END */

/* Name Section */

.introduction {

    height: 80vh;
    width: 100%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.introduction:before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #191a1d;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    transform: scaleX(3);
}

.introduction-label_container {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    text-align: center;

    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.name {
    font-size: 3.5vmax;

    position: relative;
    top: 50%;
    width: 34vmax;

    margin: 0 auto;
    border-right: 2px solid #fff;

    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.typewriter-animation {
    animation: typewriter 4s steps(40) 1 normal both,
        blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 34vmax;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: #fff;
    }

    to {
        border-right-color: transparent;
    }
}

/* Name Section END */

/* Background Section */

.background {
    padding: 5% 10%;
}

.experience-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-description {
    display: flex;
    align-items: center;
}

.desc-left {
    justify-content: flex-end;
}

.desc-right {
    justify-content: flex-start;
}

.exp-desc {
    color: rgb(248, 103, 103);
    font-weight: 600;
}

.exp-rate {
    color: gold;
}

.exp-icon {
    height: 15vmax;
    width: 15vmax;
}

/* Background Section END */

/* Global CSS Below */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #222327;
}

* {
    font-family: 'Rubik', sans-serif;
}